/* General form styling */
#contact-form {
  background-color: #e3e4d9; /* Light blue background */
  padding: 30px;
  width: 400px;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

/* Common styling for all form fields */
.form-field {
  width: 100%;
  padding: 20px;
  margin: 20px 0 20px 0;
  border: 1px solid #de1616;
  border-radius: 10px;
  box-sizing: border-box;
  font-size: 14px;
} 

/* Unique styling for the submit button */
#submit-btn {
  background-color: #1e3ee1;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

/* Hover effect for submit button */
#submit-btn:hover {
  background-color: #63799a;
}


